
  body {
    background: rgb(230, 240, 250);
    color: rgb(10, 20, 30);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em
  }

  @keyframes tossing {
    0% {
      transform: rotate(-4deg); 
    }
    50% {
      transform: rotate(4deg);
    }
    100% {
      transform: rotate(-4deg); 
    }
  }

  #ship {
    animation-name: tossing;
    animation-duration: 2.5s; 
    animation-iteration-count: infinite;
  }
